.CaseStudyContact {
  &__main-container {
    width: 339px;
    height: 416px;
    margin: 0 10px;
    padding: 15px;
    background-color: #f5f4f3;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include for-desktop-up {
      width: 500px;
      height: 557px;
      margin: 0 40px;
    }
    @include for-phone-only {
      width: 704px;
      height: 260px;
    }
  }
  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../../assets/icons/pattern.svg);
    background-size: 300%;
    opacity: 0.02;
    background-position: 50%;
    z-index: 1;
  }
  &__subtitle {
    position: relative;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    margin-bottom: 15px;
    z-index: 2;
    @include text(11px, #7946fb, 700, center);
  }
  &__title {
    position: relative;
    z-index: 2;
    margin: 0 0 40px;
    font-family: "Bitter";
    line-height: 1.3;
    width: 280px;
    @include text(20px, #142c47, 800, center);
    @include for-desktop-up {
      font-size: 24px;
    }
  }
  &__link {
    padding: 9px 30px;
    border: 2px solid #142c47;
    border-radius: 100px;
    text-decoration: none;
    transition: background-color 300ms, color 300ms;
    z-index: 2;
    margin: 0 1.875rem;
    @include text(15px, #142c47, 700);
    @include for-desktop-up {
      padding: 16px 40px;
      font-size: 16px;
    }
  }
  &__link:hover {
    background-color: #142c47;
    color: #fff;
  }
}
