.ContactRightPanel{
    &__main-container{
        padding: 40px 40px 30px;
        max-width: 400px;
        width: 100%;
        display: flex;
        flex-direction: column;
        line-height: 1.5;
        position: relative;
        background-color: #fff;
        box-shadow: 0 -5px 30px 0 rgb(20 44 71 / 3%), 0 50px 50px 0 rgb(20 44 71 / 6%);
        border-radius: 20px;
    }
    &__title-container{
        margin: 0 0 20px;
        display: flex;
        flex-direction: column;
        color: #142C47;
    }
    &__title{
        font-size: 20px;
        margin: 0 0 5px
    }
    &__label-container{
        height: 56px;
        position: relative;
        margin-bottom: 10px;
        text-align: left ;
        display: flex;
        align-items: center;
    }
    &__strong{
        font-size: 24px;
        font-weight: 800;
    }
    &__label{
        position: absolute;
        color: #96A7BA;
        font-weight: 600;
        transform: scale(.7) translate(0);
        top: 0;
        left: 0;
        transform-origin: left;
    }
    &__input{
        border: 0;
        border-bottom: 2px solid #f5f4f3;
        border-radius: 0;
        box-shadow: none;
        color: #142c47;
        font-weight: 600;
        width: 100%;
        padding: 20px 0 10px;
        line-height: inherit;
        outline: none;
        transition: border-color 300ms;
        -webkit-appearance: none;
         margin: 0;
    }
    &__input:focus{
        color: #142c47;
        border-color: #7946fb;
    }
    &__input::placeholder{
        color: #96A7BA;
        opacity: 1;
        font-weight: 400;
        font-size: 16px;
    }
    &__label-container-big{
        height: 120px;
        position: relative;
        text-align: start;
    }
    &__textarea{
        max-width: 320px;
        width: 100%;
        height: 120px;
        overflow: auto;
        overflow-wrap: break-word;
        inline-size: 320px ;
    }
    &__footer-container{
        margin: 40px 0 0;
    }
    &__button{
        background-color: #46feda;
        width: 100%;
        padding: 16px 40px;
        border: none;
        height: 56px;
        border-radius: 100px;
        font-weight: 700;
        cursor: pointer;
    }
    &__footer-data{
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        color: #96a7ba;
        margin-top: 30px;
        padding: 0 30px;
    }
    &__footer-link{
        color: #96a7ba; ;
    }
}  