.Navbar{
    &__header{
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        border-bottom: 1px solid #f5f4f3;
        display: flex;
        justify-content: center;
        height: 87px;
    }
    &__main-container{
        width: 1170px;
        height: 87px;
        margin: 0 116px;
        padding: 0px 10px;
        z-index: 9;
    }
    &__secound-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        width: 1150px;
        height: 87px;

    }
    &__links{
        &-container{
            display: flex;
            height: 87px;
        }
        text-decoration: none;
        padding: 0 25px;
        color: #142c47;
        border-bottom: 2px solid transparent;
        transition: all .3s ease-out 0s;
        height: inherit;
        font-weight: 700;
        display: flex;
        align-items: center;
        font-size: 18px;
        &:hover{
            border-color: #7946fb;
        }
    }
    &__link-border{
        font-weight: 700;
        color: #142c47;
        text-decoration: none;
        border: 2px solid #142c47;
        border-radius: 100px;
        transition: all .3s ease-out 0s;
        padding: 11px 30px;
        text-align: center;
        font-size: 18px;

        &:hover{
            color: white;
            background-color:#142c47; ;
        }
    }
    &__logo-transition{
        transition: all .3s ease-out 0s;
    }
    &__svg-logo{  
        :deep(svg) {
            width: 118px;
            height: 19px;
        }
    }

}