.Description{
    &__main-container{
        padding: 24px;
        margin: 16px 0 0;
        width: 824px;
        height: 2460px;
        background-color: #ffffff;
        color: #222222;
    }
    &__title{
        font-size: 25px;
        margin: 0 0 16px;
    }
    &__name{
        font-size: 24px;
    }
    &__information{
            font-size: 18px;
        }
    &__margin{
        margin: 16px 0;
    }
    &__img-container{
        width: 776px;
        height: 388px;
        display: flex;
        &-small{
            width: 388px;
        }
    }
    &__img{
        margin: 16px 0;
        width: 356px;
        height: 356px;
    }
    &__paragraph{
        font-size: 18px;
        margin: 16px 0;
        color: #222222;
        line-height: 21px;
        
    }
    &__image-with-informations-container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}