.Informations{
    &__small-text{
        font-size: 14px;
                color: #656565;
        &--dark-Gray{
            height: 21px;
            color: #222222 ;
        }
    }
    &__column{
        display: flex;
        flex-direction: column; 
    }
    &__noDecoration{
        text-decoration: none;
    }
    &__information-container{
        margin: 20px 0;
        background-color: white;
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
    }
    &__country{
        display: flex;
        flex-direction: row;
        padding: 16px 0px;
        width: 100%;
        color: #222222;
        line-height: 21px;
    }
    &__delivery{
        height: 96px;
        display: flex;
        flex-direction: row;
        line-height: 21px;
    }
    &__bottom-border{
        padding: 16px 0px;
        border-bottom: 1px solid #dddddd;
    }
    &__paragraph-width{
        width: 195px;
    }
    &__refund{
        line-height: 21px;
        height: 75px;
        padding: 16px 0px;
        display: flex;
        flex-direction: row;
    }
    &__protect{ 
    padding: 16px 0px;
    display: flex;
}
    &__icon{
        width: 24px;
        height: 24px;
        background-color: red;
        margin: 0px 16px 0px 0px;
    }
    &__guarantee-container{
            height: 75px;
            display: flex;
            flex-direction: row;
            padding: 16px 0px;
            }
    &__complaint-container{
            height: 73px;
            padding: 16px 0px;
            display: flex;
    }
    &__svg{
        display: inherit;
        margin: auto 0px auto auto;
    }
}