.Parameters{
    &__main-container{
        padding: 24px;
        background-color: white;
        width: 824px;
        height: 390px;
    }
    &__title{
        color: #222222;
        font-size: 25px;
        margin: 0 0 16px;
    }
    &__left-box{
        width: 232px;
        height: 40px;
        font-size:14px ;
        color: #656565;
        padding: 8px 16px;
    }
    &__right-box{
        width: 527.67px;
        height: 40px;
        font-size:14px ;
        color: #222222;
        padding: 8px 8px 8px 16px;
    }
    &__background-gray{
        background-color: #f6f7f8;
    }
    &__link{
        color: #008673;
        text-decoration: none;
    }
    &__link:visited {
    color: #00433A;
    }
    &__row{
        display: flex;
        &--gray{
        background-color: #f6f7f8;
        }
    }
    &__label{
        font-size:14px ;
        color: #656565;
        padding: 8px 16px;
        width: 30%;
    }
    &__text{
        font-size:14px ;
        color: #222222;
        padding: 8px 8px 8px 16px;
    }

}