.Payments{
    &__buy-container{
        background-color: white;
        display: flex;
        flex-direction: column; 
    }
    &__company-container{
        padding: 20px;
        color: black;
        display: flex;
        flex-direction: column;
        font-size: 17px;
        font-weight: 700;
        border-bottom: solid #dddddd 1px;
    }
    &__company-name{
            margin-bottom: 10px;
        }
    &__row{
            display: flex;
            flex-direction: row;
    }
    &__wall{
        margin: 0 8px;
        font-size: 14px;
        color: #767676;
    }
    &__small-text{
        font-size: 14px;
                color: #656565;
        &--green{
                color: #006456;
            }
    }
    &__payment-container{
        padding: 20px;
        display: flex;
        flex-direction: column;
        font-weight: 700;
    }
    &__title{
        font-size: 21px;
        margin: 0px 0px 8px;
    }
    &__number{
        color: #3a4e58;
        line-height: 40px;
        &--big{
            color: #3a4e58;
            font-size: 30px;
        }
    }
    &__line{
        border: 1px solid #dddddd;
        margin: 8px 0px;
    }
    &__paragraf{
        color: #656565;
        font-size: 13px;
    }

    &__middle{
        margin: auto auto auto 10px;      
    }
    &__input{
        width: 64px;
        height: 40px;
        padding: 8px;
        border: solid gray 1px;
        text-align: center;
        -moz-appearance: textfield;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        } 
    }
    &__button{
        width: 40px;
        height: 40px;
        border: solid gray 1px;
        text-align: center;
        font-size: 40px;
            }
    &__column{
        display: flex;
        flex-direction: column; 
    }
    &__button-orange{
        background-color: #ff5a00;
        font-size: 14px;
        height: 40px;
        color:  white;
        margin: 8px 0px 0px;
    }   
    &__noDecoration{
        text-decoration: none;
    }
}