.CenterPanel{
    &__main-container{
        height: auto;
        width: 900px;
        background-color: red;
        margin: 62px auto auto ;
        display: flex;
        flex-direction: column;
        @media  (max-width:950px){
        width: 100%;
        margin: 80px auto auto;
        }
    }
}
