.CenterPanel{
    &__main-container{
    height: auto;
    width: 100%;
    background-color: red;
    margin: 40px auto auto auto;
    display: flex;
    flex-direction: column;
    }
}
@media screen and (max-width:950px){
    .CenterPanel__main-container
    {
    width: 900px;
    }
}