.PostPanel{
    &__main-container{
        height: 250px;
        width: 450px;
        background-color: black;
        margin: 16px auto auto ;
        transition: background-color 1s ;
        @media  (max-width: 950px){
            background-color: green;
        }
        &--small{
            height: 50px;
            width: 100px;
        }
    }
    &__text{
        color: white;
        @media  (min-width: 950px){
           visibility: hidden;
        }
    }
    &__button{
        height: 40px;
        background-color: yellow;
    }
}