$white: #ffffff;
$black400: #2b2b2b;
$black300: #555555;
$yellow500: #ffe003;
$yellow600: #fcc501;
$gray400: #d5d5d5;
$black100: #aaaaaa;
$black: #000000;
$black500: #101010;
$gray200: #f3f3f3;

$phone: 599px;
$tabletportrait: 600px;
$tablet: 768px;
$tabletLandscape: 950px;
$desktop: 1170px;
